[submodule "assets/moonshine"]
	path = assets/moonshine
	url = https://github.com/vrld/moonshine.git
[submodule "assets/assets/moonshine"]
	path = assets/assets/moonshine
	url = https://github.com/vrld/moonshine.git
